<ion-header>
  <ion-toolbar>
    <ion-title class="FontSize">การทำงาน-ประเมินงาน</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>


<ion-content padding>
    <ion-list>
      <img src="../assets/img/subMenu/SubWorkPA1.png" alt="" padding-top (click)="workPA1()">
      <img src="../assets/img/subMenu/SubWorkPA2.png" alt="" (click)="workPA2()">
      <img src="../assets/img/subMenu/SubWorkPA3.png" alt="" (click)="workPA3()">
      <img src="../assets/img/subMenu/SubWorkPA4.png" alt="" (click)="workPA4()">
      <img src="../assets/img/subMenu/SubWorkPA5.png" alt="" (click)="workPA5()">
    </ion-list>
  </ion-content>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="homeClick()">
      <ion-icon name="home"></ion-icon>
      <ion-label >หน้าแรก</ion-label>
    </ion-tab-button>
  
    
      <ion-tab-button tab="chat" onclick="window.open('https://m.me/HRRAMA?ref=Welcome%20Message', '_system', 'location=yes'); return false;" >
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label >ติดต่อ</ion-label>
      </ion-tab-button>
</ion-tab-bar> 