<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>


<ion-content padding>
  <img src="/assets/img/training/training2.jpg" alt=""><br><br>
  <a href="https://op.mahidol.ac.th/hr/careerpromotion/">คลิกเพื่ออ่านข้อมูลเพิ่มเติมของตำแหน่งสายวิชาการ</a><br><br><br>
  

  <img src="/assets/img/training/training2_1.jpg" alt=""><br><br>
  <a href="https://op.mahidol.ac.th/hr/careerpromotion/">คลิกเพื่ออ่านข้อมูลเพิ่มเติมของตำแหน่งสายสนับสนุน</a><br><br><br>
</ion-content>
