.Background{
    --background: url(../../assets/img/bg.png) 0 0/100% 100% no-repeat;
}

.padding
{
    padding: 1px 16px 16px
    
}

.ion-no-padding
{
    padding: 0px
}

.margin-top
{
    margin-top: 30%
}
