<ion-content class="Background">
  
  <ion-row class="margin-top">
    <ion-item (click)="ClickRama()">
      <img src="../../assets/img/Menu/rama.png" alt="" >
    </ion-item>
  </ion-row>

  <ion-row >
    <ion-col size="7" class="ion-no-padding">
      <img src="../../assets/img/Menu/officer.png" width="250px" height="80px" (click)="ClickOffice()">
    </ion-col>
    <ion-col size="5" class="ion-no-padding">
        <img src="../../assets/img/Menu/news.png" alt="" width="200px" height="80px" onclick="window.open('https://med.mahidol.ac.th/th/news/announcements', '_system', 'location=yes'); return false;">
    </ion-col>
  </ion-row>

  <ion-row padding>
    <ion-col size="4">
        <img src="../../assets/img/Menu/train.png" alt="" (click)="ClickTraining()">
    </ion-col>

    <ion-col size="4">
        <img src="../../assets/img/Menu/workPA.png" alt="" (click)="ClickworkPA()">
    </ion-col>

    <ion-col size="4">
        <img src="../../assets/img/Menu/benefit.png" alt="" (click)="ClickBenefit()">
    </ion-col>
  </ion-row>


  <ion-row class="padding">
      <ion-col size="4">
          <img src="../../assets/img/Menu/welfare.png" alt="" (click)="ClickWelfare()">
      </ion-col>
  
      <ion-col size="4">
          <img src="../../assets/img/Menu/retire.png" alt="" (click)="ClickRetire()">
      </ion-col>
  
      <ion-col size="4">
          <img src="../../assets/img/Menu/ticket.png" alt="" (click)="ClickTicket()">
      </ion-col>
    </ion-row>


    <ion-row class="padding">
        <ion-col size="4">
            <img src="../../assets/img/Menu/calendar.png" alt="" (click)="ClickCalendar()">
        </ion-col>
    
        <ion-col size="4">
            <img src="../../assets/img/Menu/newOffice.png" alt="" (click)="ClicknewOffice()">
        </ion-col>
    
        <ion-col size="4">
            <img src="../../assets/img/Menu/messager.png" alt="" onclick="window.open('https://m.me/HRRAMA?ref=Welcome%20Message', '_system', 'location=yes'); return false;">
        </ion-col>
      </ion-row>

</ion-content>
